@import url('https://fonts.googleapis.com/css?family=Permanent Marker');

h1 {
    text-align: center;
    font-family: Permanent Marker;
}

h2 {
    text-align: center;
    font-size: x-large;
}

div.headerfooter {
    background-color: lightsalmon;
    margin: 0px;
}

table.one {
    padding: 10px;
}

table.three tr td {
    padding: 10px;
    text-align: center;
   
}

.carousel-caption{
    position:static;
}
a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}
